nav ul li {
	list-style-type: none;
	display: inline;
	padding-right: 50px;
	color: red;
}

nav ul li a {
	text-decoration: none;
	color: red;
}

nav ul li a:hover {
	background-color: green;
	color: yellow;
}

nav ul li:active {
	padding: 0 5px;
}